.ourPartners {
  font-family: gooddog-new;
  margin-top: 2%;
  font-size: 40px;
  text-align: center;
}
.Paragraph {
  font-size: 24px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

.partner {
  display: flex;
  justify-content: space-between;
}

.foo {
  display: row;
  width: 220px;
  height: 220px;
  margin: auto auto;
}
